@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  background: #00000000;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(53, 53, 53);
}

::-webkit-scrollbar {
  width: 10px;
}

.userScrollBarHorizontal::-webkit-scrollbar {
 display: none;
}

.datepicker-input::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 12px;
  top: 2;
  margin: 0;
  padding: 0;
  cursor: pointer;
  opacity: 0;
}

.file-input::-webkit-file-upload-button {
  opacity: 0;
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #252A30 inset !important;
  /* Change #252A30 to match your background color */
  -webkit-text-fill-color: #fff !important;
  /* Change text color to white */
}

input:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@layer components {
  .container-style {
    @apply shadow-custom-black bg-black-light rounded-lg overflow-hidden;
  }

  .col-center {
    @apply flex flex-col items-center justify-center
  }

  .row-center {
    @apply flex justify-center items-center
  }
}