@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin : 0;
    padding : 0;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
    background: #000;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(53, 53, 53);
}

::-webkit-scrollbar {
    width: 10px;
}

.datepicker-input::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 12px;
    top: 2;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
  }
